.about {
    min-height: 736px;
    background: #252525;
    border-radius: 43px;
    padding: 105px 30px 90px;

}

.about__text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #A6A6A6;
    line-height: 30px;
    margin-bottom: 90px;
}