body {
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: normal;
  }
  
  .container {
    max-width: 1110px;
    width: 100%;
  }

  .app {
    position: relative;
  }
  
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .main__button {
      margin: 0 auto;
      display: block;
      background-color: #34C759;
      color: #000;
      padding: 25px 58px;
      border-radius: 43px;
      border: none;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 70px;
  }

.info {
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 915px;
  height: 945px;
  text-align: center;
  margin-bottom: 161px;
}


  .info-card {
    width: 245px;
    height: 95px;
    text-align: center;
    }

  .info-card__icon {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
  }

  .info-card__title {
    margin: 0 auto;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .info-card__text {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
  }
