* {
    box-sizing: border-box;
}

.header {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 80px;
  }
  
  .header__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
  }

.logo {
    display: flex;
    gap: 15px;
    align-items: flex-end;

}

.logo__apple {
    width: 25px;
    height: 24px;
}

.logo__title {
    width: 173px;
    height: 11px;
}

.menu {
    display: flex;
    gap: 45px; /* как дать разные отступы между пунктами? */
}

.menu__item {
    color: #fff;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 90px;
}

.menu__item:hover {
    color: #34C759;
}

.bg-img {
    position: absolute;
}