* {
    box-sizing: border-box;
}

.main__title {
    font-size: 72px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    margin-bottom: 16px;
line-height: 84px;
}

.main__text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    opacity: 0.6;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
}

.main {
    margin: 0 auto;
    width: 1110px;
    height: auto;
}